<div class="container">
  <form (ngSubmit)="login()" class="form">
    <h2 class="form-title">Tubonge Login</h2>
    <br><br>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <div class="form-actions">
      <button type="submit" [disabled]="loading" class="submit-btn">
        <span *ngIf="loading"><ion-spinner></ion-spinner></span>
        <span *ngIf="!loading">Login</span>
      </button>
      
      
  
      
      <button type="button" (click)="goToRegister()" class="register-btn">Register</button>
      <br><br><br/>
      <button type="button"  class="register-btn">reset password</button>
    </div>
  </form>
</div>
