<div class="container">
 
  <form (ngSubmit)="login()" class="form" validate>
<img src="https://images.squarespace-cdn.com/content/v1/58a1a2bb9f745664e6b41612/1597057412838-T3UTOLKZII99Q0OUGPK5/Sauti+Ya+Mtaa.jpg" alt="Tubonge Logo" class="logo">
    <!-- <h2 class="form-title">Tubonge Login</h2> -->
    <br><br>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required
             [ngClass]="{ 'is-invalid': !username }">
      <div *ngIf="!username" class="error-message">Username is required.</div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required minlength="5"
             [ngClass]="{ 'is-invalid': password && password.length < 5 }">
      <div *ngIf="password && password.length < 5" class="error-message">Password must be at least 5 characters.</div>
       <div *ngIf="error" class="error-message">{{ error }}</div>
    </div>
    <div class="form-actions">
      <button type="submit" [disabled]="loading" class="submit-btn">
        <span *ngIf="loading"><ion-spinner></ion-spinner></span>
        <span *ngIf="!loading">Login</span>
      </button>
      <button type="button" (click)="goToRegister()" class="register-btn">Register</button>
      <br><br><br/>
    </div>
  </form>
</div>
