<div class="container">
  <form (ngSubmit)="register()" class="form">
    <h2 class="form-title">Register</h2>
    <div class="form-group">
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" name="firstname" [(ngModel)]="firstname" required>
    </div>
    <div class="form-group">
      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname" name="lastname" [(ngModel)]="lastname" required>
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <button type="submit">Register</button>
  </form>
</div>
