

<form (ngSubmit)="register()">
  <div>
    <label>firstname</label>
    <input type="firstname" name="firstname" [(ngModel)]="email" required>
  </div>
<div>
<label>lastname</label>
    <input type="lastname" name="lastname" [(ngModel)]="email" required>
  </div>
  <div>
    <div>
<label>username</label>
    <input type="username" name="username" [(ngModel)]="email" required>
  </div>
  <div>
    <label>Password</label>
    <input type="password" name="password" [(ngModel)]="password" required>
  </div>
  <button type="submit">Register</button>

