body
{
    margin: 0;
    padding: 0;
    font-family:Calibri;
    height: 100vh;
    overflow: hidden;
    animation: bgcolor infinite 20s;
}


.welcome{
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 4em;
    color: white;
    position:absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center
}



.box{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.box h1{
    text-align: center;
    font-size: 20px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.box form{
    padding: 0 30px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 1px solid #adadad;
    margin: 30px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}

.forgotpass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.forgotpass a{
    color: #a6a6a6;
    text-decoration: none;
}

.forgotpass:hover{
    text-decoration: underline;
}

/*In video it was input not button */
.login_button {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    margin: 15px 0;
    text-align: center;
    font-size: 30px;
    color: white;
    text-decoration: none;
    
}

.login_button a{
    margin: 20px 0;
    text-align: center;
    font-size: 36px;
    color: white;
    text-decoration: none;
}

@keyframes bgcolor{
    0%
    {
        background:#81ecec;
    }
    20%
    {
        background:#FDA7DF;
    }
    40%
    {
        background:#55efc4;
    }
    60%
    {
        background:#D980FA;
    }
    80%
    {
        background:#fff200;
    }
    100%
    {
        background:#32ff7e;
    }
}